{% extends "base.html" %}

{% block content %}

<h1>Order ID: {{ order.id }}</h1>

  <p><strong>Client:</strong> {{ order.car.client }}</a></p>
  <p><strong>Description:</strong> {{ order.description }}</p>
  <p><strong>VIN:</strong> {{ order.car.VIN_code }}</p>
  <p><strong>Number Plates:</strong> {{ order.car.plate_number }}</p>
  <p class="{% if order.status == '4' %}text-success{% elif order.status == '3' %}text-danger
  {% else %}text-warning{% endif %}">
    <strong>Order Status:</strong> {{ order.get_status_display }}
</p>

<div style="margin-left:20px;margin-top:20px">
    <h4>Order details:</h4>

    {% for order in order.order_rows.all %}
    <p><strong>Service ID:</strong> {{ order.id }}</p>
    <p><strong>Service type:</strong> {{ order.service }}</p>
    <p><strong>Amount:</strong> {{ order.quantity }}</p>
    <p><strong>Price:</strong> {{ order.price }}</p>
    {% endfor %}

</div>
</br>


<h4>Comments:</h4>

{% if order.orderreview_set.all %} {% for review in order.orderreview_set.all %}
<hr>
<strong>{{ review.reviewer }}</strong>, <em>{{ review.date_created}}</em>
<p>{{ review.content }}</p>
{% endfor %}

{% else %}
<p>Order has no comments</p>
{% endif %}


{% if user.is_authenticated %}
<div class="fieldWrapper">
    <hr><br/>
    <h4>Leave a comment:</h4>
    <form action="" method="post">
        {% csrf_token %} {{ form.content }}</br>
        <input type="submit" value="Save">
    </form>
</div>
{% endif %}
{% endblock %}


